/*********************************************
 * IFRS - Projeto Final - CPW
 * Date: november / 2011
 * Author: Fábio Miranda e Letícia Figueira
 * License: MIT
*********************************************/

/*********************************************
 * Menu
 * 1. References
 * 2. HTML - Base (fonts, basic elements)
 * 3. Reusables
 * 4. #header
 * 5. #main
 * 6. #footer
 * 7. CSS buttons
*********************************************/

/*********************************************
 * 1. References
  Colors:
    blue: #a3cbfc;
*********************************************/

/*********************************************
 * 2. HTML - Base
*********************************************/
html, body {
	height:100%;
	color:#333;
}

body {
  min-width: 960px;
  background-image: linear-gradient(bottom, rgb(255,255,255) 40%, rgb(163,203,252) 90%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(163,203,252) 90%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(163,203,252) 90%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(163,203,252) 90%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(163,203,252) 90%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgb(255,255,255)), color-stop(0.9, rgb(163,203,252)));
  background-position:center top;
  background-repeat:repeat-x;
  background-size: 100%;
  font: 400 14px/1.4em 'Lato', Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
}
/*********************************************
 * 3. Reusables
*********************************************/
.left {
  float: left;
}
.right {
  float: right;
}
/*********************************************
 * 4. #header
*********************************************/
#header {
  margin-top: 20px;
}
#logo h1 {
  display: none;
}
#menu {
  top: 42px;
  left: 10px;
}
#menu ul li {
  display: inline;
  margin-right: 7px;
}

#header .container_12 #menu .right .omega {
	margin-right: 9px;
}

#menu ul li a {
  font: normal 17px/1em 'Lato', Helvetica, Arial, sans-serif;
  padding: 7px 8px;
  text-shadow: 1px 1px 0 #666;
}
/*********************************************
 * 5. #main
*********************************************/
#main {
  margin-top: 50px;
  padding: 10px;
}
#main h2#caption {
  font: 700 32px/1.4em 'Lato', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #FFF;

}
#main h3#explanation{
  font: 400 20px/1.4em 'Lato', Helvetica, Arial, sans-serif;
}


#main .container_12 #texto h3 {
  font: 400 20px/1.7em 'Lato', Helvetica, Arial, sans-serif;
}

#main .container_12 #texto p a{
	text-decoration:none;
	color:#666;
}

#main .container_12 #texto p a:hover{
	text-decoration:underline;
	color:#999;
}

.sb{
	text-align:right;
	}
	
/*********************************************
 * 6. Footer
*********************************************/

#footer {
  margin-top:30px;
  position: relative;
}
#footer .container_12 .right p {
	font: 400 14px/1.4em 'Lato', Helvetica, Arial, sans-serif;
	/*font-size: 10px;*/
	text-align: right;
	margin-bottom:15px;
}
#footer .container_12 .right p a {
  color:#999;
  text-decoration:none;
}
#footer #vivo {
  margin-right: 3px;
}
#footer .container_12 .right p #claro:hover {
	color:#F00;
}
#footer .container_12 .right p #oi:hover {
	color:#F90;
}
#footer .container_12 .right p #tim:hover {
	color:#30C;
}
#footer .container_12 .right p #vivo:hover {
	color:#306;
}
#footer #redes_sociais ul li {
	display: inline;
	margin: 10px;
	list-style-type: none;
}
#footer .container_12 #redes_sociais ul li a:hover {
	opacity:0.65;
	background-color:#a3cbfc;
}
#footer .container_12 .grid_12 p {
	text-align: center;
	font-size: 13px;
	font-weight:300;
}

/* Slider */
#slider, #slider > img {
  height: 360px;
  width: 540px;
}
#slider .nivo-controlNav {
  position: absolute;
    bottom: -50px; /* Põe os thumbs abaixo do slider */
}

#slider a.nivo-control {
  margin-right: 100px;
}
#slider .nivo-controlNav img {
  display: inline;   /* Mostra thumbnails */
  height: 100px;
  position: relative;
  width: 100px;
}

/*********************************************
 * 7. CSS Buttons
*********************************************/
.pill {
  background-color:#79bbff;
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  border:1px solid #84bbf3;
  border-radius:10px;
  box-shadow:inset 0px 5px 4px 0px #bbdaf7;
  color:#ffffff;
  display:inline-block;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  font: normal 15px Arial, Helvetica, sans-serif;
    -moz-border-radius:10px;
    -moz-box-shadow:inset 0px 5px 4px 0px #bbdaf7;
  padding:3px 18px;
  text-align: center;
  text-decoration:none;
  text-shadow:2px 2px 0px #528ecc;
    -webkit-border-radius:10px;
    -webkit-box-shadow:inset 0px 5px 4px 0px #bbdaf7;
  min-width: 83px;
}
.pill:hover {
  background-color:#378de5;
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
}
.pill:active {
  position:relative;
    top:1px;
}
